Checks: clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-valist.Uninitialized,readability-misleading-indentation,readability-deleted-default,bugprone-integer-division,bugprone-suspicious-missing-comma,bugprone-unused-raii,bugprone-unused-return-value,misc-unused-using-decls,misc-unused-alias-decls,misc-definitions-in-headers,readability-braces-around-statements
